@import "@folio/stripes-components/lib/variables.css";

.categoryHeader {
  font-weight: var(--text-weight-bold);
  margin-bottom: 5px;
}

.tokensList {
  list-style-type: none;
  padding: 0;
}

.tokenLabel {
  font-weight: var(--text-weight-regular);
}

.disabledItem {
  color: gray;
}
