@import "@folio/stripes-components/lib/variables.css";

.closingTypeField {
  padding-left: 0;
}

.error {
  color: var(--error);
}

.periodContainer {
  display: flex;
}

.periodContainer [class*="formControl"] {
  margin-bottom: 0;

  & option {
    color: initial;
  }
}
