:root{
  --bg: #fcfcfc;
  --bgHover: color(var(--bg) contrast(100%) blend(var(--bg) 90%));
}

.accordianSection{
  max-width:700px;
  margin-left:15px;
}
.smformItem{
  max-width:40%;
}
.adjustDelete{
  margin: 10px 0 10px 0;
}
.headerArea {
  display: flex;
  flex-grow: 2;
  color: rgba(0, 0, 0, 0.62);;
  font-weight: 600;
  font-size: 130%;
  justify-content: flex-start;
  margin-bottom: 0.5em;
}
.scheduleItem {
  border-color: #999;
  border-width: 1px 1px 0;
  border-style: solid;
  width: 100%;

  &:last-of-type {
    border-bottom: 1px solid #999;
    margin-bottom: 4px;
  }
}
.scheduleItemContent {
  padding: 6px 14px;
  background-color: color(var(--bg) blend(var(--bgHover) 20%));
  width: 100%;
}


.sceduleHeader {
  background-color: var(--bgHover);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 14px;
  min-height: 30px;

  & h1 {
    font-size: 1.3rem;
  }

  & h2 {
    font-size: 1.2 rem;
  }

  & h3 {
    font-size: 1rem;
  }

  & h4 {
    font-size: 0.9rem;
    margin: 0 0 0 0;
  }

  & h5,
  & h6 {
    font-size: 0.8rem;
  }
}
