.ql-editor {
  min-height: 100px !important;
}

.ql-undo {
  background: no-repeat scroll 50% 50% transparent !important;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='#444444' x='0px' y='0px' viewBox='0 0 1000 1000' height='14' width='14' enable-background='new 0 0 1000 1000' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M500,71.2c-135.3,0-257.8,54.9-346.5,143.5L10,71.2v367.5h367.5L240.1,301.4c66.5-66.5,158.4-107.6,259.9-107.6c203,0,367.5,164.5,367.5,367.5c0,109.8-48.1,208.3-124.4,275.6l81,91.9C925.8,839,990,707.6,990,561.3C990,290.6,770.6,71.3,500,71.2L500,71.2z'/%3E%3C/g%3E%3C/svg%3E") !important;
  text-align: center;
}

.ql-redo {
  background: no-repeat scroll 50% 50% transparent !important;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='#444444' x='0px' y='0px' viewBox='0 0 1000 1000' height='14' width='14' enable-background='new 0 0 1000 1000' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M10,561.2c0,146.3,64.2,277.7,165.9,367.5l81-91.9C180.6,769.5,132.6,671,132.6,561.2c0-203,164.5-367.5,367.5-367.5c101.5,0,193.4,41.2,259.9,107.6L622.5,438.8H990V71.3L846.5,214.8C757.8,126.1,635.3,71.3,500,71.3C229.4,71.3,10.1,290.7,10,561.2L10,561.2z'/%3E%3C/g%3E%3C/svg%3E") !important;
  text-align: center;
}
