@import "@folio/stripes-components/lib/variables.css";

.periodContainer {
  display: flex;
}

.periodContainer [class*="formControl"] {
  margin-bottom: 0;

  & option {
    color: initial;
  }
}

.error {
  color: var(--error);
  display: inline-block;
  margin-top: var(--gutter);
}
