.loanNotice {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
  width: 100%;
}

.header {
  background-color: #e6e6e6;
  margin: 0 0;
}

.headerTitle {
  padding: 5px 10px;
  font-weight: bold; 
}

.headerIcon {
  text-align: right;  
}

.noticeField {
  padding: 10px 20px;
}
