.preview {
  justify-content: flex-end;
  padding-right: 5px;
  margin-bottom: 5px;
}
  
.label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.required {
  color: #900;
  font-weight: bold;
  padding: 0 0.1rem;
}
